[
 [
  ;; Domains
  {:db/ident :epistomic/domain
   :db/valueType :db.type/ref
   :db/cardinality :db.cardinality/one
   :db/doc "An epistomic domain"}

  ;; Classes
  {:db/ident :epistomic/class
   :db/valueType :db.type/ref
   :db/cardinality :db.cardinality/one
   :db/doc "Class this belongs to"}
  {:db/ident :epistomic/attribute
   :db/valueType :db.type/ref
   :db/cardinality :db.cardinality/many
   :db/doc "Attribute allowed in this class"}

  ;; Root class
  {:db/ident :epistomic/object}]

 [
  ;; Built-in classes
  {:db/ident :epistomic/entity
   :db/doc "An entity in your domain"
   :epistomic/class :epistomic/object}
  {:db/ident :epistomic/predicate
   :db/doc "An RDF style predicate in your doman"
   :epistomic/class :epistomic/object}
  {:db/ident :epistomic/relation
   :db/doc "An an RDF "
   :epistomic/class :epistomic/object}
  {:db/ident :epistomic/source
   :db/doc "A source of evidence"
   :epistomic/class :epistomic/object}
  {:db/ident :epistomic/investigation
   :db/doc "An investigation of a source"
   :epistomic/class :epistomic/object}
  {:db/ident :epistomic/observation
   :db/doc "An investigation of a source"
   :epistomic/class :epistomic/object}
  {:db/ident :epistomic/evidence
   :db/doc "Evidence for a proposition"
   :epistomic/class :epistomic/object}
  {:db/ident :epistomic/belief
   :db/doc "Current belief in a proposition"
   :epistomic/class :epistomic/object}]

 [
  ;; Objects
  {:db/ident :epistomic.object/id
   :db/valueType :db.type/uuid
   :db/cardinality :db.cardinality/many
   :db/unique :db.unique/identity
   :db/doc "An object that is known about"
   :epistomic/_attribute :epistomic/object}
  {:db/ident :epistomic/class
   :db/valueType :db.type/ref
   :db/doc "The class of the object"
   :epistomic/_attribute :epistomic/relation
   :epistomic/class :db/ident}

  ;; Relations
  {:db/ident :epistomic.relation/predicate
   :db/valueType :db.type/ref
   :db/cardinality :db.cardinality/many
   :db/doc "Allowed predicates in this relation"
   :epistomic/_attribute :epistomic/relation
   :epistomic/class :epistomic/predicate}

  ;; Predicates
  {:db/ident :epistomic.predicate/subjectClass
   :db/valueType :db.type/ref
   :db/cardinality :db.cardinality/one
   :db/doc "Allowed class of the predicate subject"
   :epistomic/_attribute :epistomic/predicate
   :epistomic/class :epistomic/object}

  {:db/ident :epistomic.predicate/objectClass
   :db/valueType :db.type/ref
   :db/cardinality :db.cardinality/one
   :db/doc "Allowed class of the predicate object"
   :epistomic/_attribute :epistomic/predicate
   :epistomic/class :epistomic/object}

  ;; Investigations
  {:db/ident :epistomic.investigation/source
   :db/valueType :db.type/ref
   :db/cardinality :db.cardinality/one
   :db/doc "This source of this investigation"
   :epistomic/_attribute :epistomic/investigation
   :epistomic/class :epistomic/source}
  {:db/ident :epistomic.investigation/start
   :db/valueType :db.type/instant
   :db/cardinality :db.cardinality/one
   :db/doc "When the investigation started"
   :epistomic/_attribute :epistomic/investigation}
  {:db/ident :epistomic.investigation/end
   :db/valueType :db.type/instant
   :db/cardinality :db.cardinality/one
   :db/doc "When the investigation ended"
   :epistomic/_attribute :epistomic/investigation}
  {:db/ident :epistomic.investigation/hash
   :db/valueType :db.type/string
   :db/cardinality :db.cardinality/one
   :db/unique :db.unique/value
   :db/doc "An opaque value-like hash provided by the source"
   :epistomic/_attribute :epistomic/investigation}
  {:db/ident :epistomic.investigation/observation
   :db/valueType :db.type/ref
   :db/cardinality :db.cardinality/many
   :db/doc "An observation of this investigation"
   :epistomic/_attribute :epistomic/investigation
   :epistomic/class :epistomic/observation}

  ;; Observations
  {:db/ident :epistomic.observation/path
   :db/valueType :db.type/string
   :db/cardinality :db.cardinality/one
   :db/doc "An source provided path to this observation"
   :epistomic/_attribute :epistomic/observation}
  {:db/ident :epistomic.observation/contentType
   :db/valueType :db.type/string
   :db/cardinality :db.cardinality/one
   :db/doc "The content type of the observation"
   :epistomic/_attribute :epistomic/observation}
  {:db/ident :epistomic.observation/content
   :db/valueType :db.type/string
   :db/cardinality :db.cardinality/one
   :db/doc "The recorded content of the observation"
   :epistomic/_attribute :epistomic/observation}
  {:db/ident :epistomic.observation/hash
   :db/valueType :db.type/string
   :db/cardinality :db.cardinality/one
   :db/unique :db.unique/value
   :db/doc "Cryptographic hash of the observation"
   :epistomic/_attribute :epistomic/observation}

  ;; Evidence
  {:db/ident :epistomic.evidence/observation
   :db/valueType :db.type/ref
   :db/cardinality :db.cardinality/one
   :db/doc "A causal link between some evidence and another object"
   :epistomic/_attribute :epistomic/evidence
   :epistomic/class :epistomic/observation}
  {:db/ident :epistomic.evidence/proposition
   :db/valueType :db.type/ref
   :db/cardinality :db.cardinality/one
   :db/doc "A causal link between some evidence and another object"
   :epistomic/_attribute :epistomic/evidence
   :epistomic/class :epistomic/object}

  ;; Belief
  {:db/ident :epistomic.belief/support
   :db/valueType :db.type/ref
   :db/cardinality :db.cardinality/many
   :db/doc "Support for belief in a proposition"
   :epistomic/_attribute :epistomic/belief
   :epistomic/class :epistomic/object}
  {:db/ident :epistomic.belief/proposition
   :db/valueType :db.type/ref
   :db/cardinality :db.cardinality/one
   :db/doc "The proposition believed in"
   :epistomic/_attribute :epistomic/belief
   :epistomic/class :epistomic/object}]]
